In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
df = pd.read_excel('ServiceClaims.xlsx', 
                    skiprows=[0,1],
                    usecols=[0,2,3,5,6,7,8],
                    na_values='NULL',
                    index_col=6)

In [39]:
df['Size'] = df['Model Group'].str.split(' ').str.get(0)
df['Size'] = df['Size'].str.split('IN').str.get(0)
df['Model Group'] = df['Model Group'].str.split(' ').str.get(1)

models = {'DUAL':'DF', 
        'INDUCTION':'IR', 
        'GAS':'GR', 
        'SRT':'SRT', 
        'CONTEMP':'CGCT', 
        'IN':'DF'}
        
df['Model Group'].replace(to_replace=models, inplace=True)

In [40]:
df.head()

,ticketId,Serial Number,Ticket Type,Model Group,Mode,Part,Size
Ticket Received Date,,,,,,,
2017-11-22 19:48:56,t6UJ9A05W2FK,18350882,Service,DF,NaN,NaN,36
2017-12-11 15:22:40,t6UJ9A05WMU2,18350608,Service,DF,NaN,NaN,48
2017-12-12 16:30:46,t6UJ9A05WOOF,17639390,Service,IR,THERMAL EVENT,GLASS,30
2017-12-13 17:19:40,t6UJ9A05WQG7,17639390,Service,IR,NON RESPONSIVE,GLASS,30
2017-12-18 06:00:00,t6UJ9A05WW48,18350728,Claim - Warranty,DF,SLOW HEATING / INCORRECT TEMP,WIRING / CONNECTION,48